@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cafe24Shiningstar";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .link-style {
    @apply text-2xl font-semibold hover:underline underline-offset-4 text-gray-950 hover:text-purple-500;
  }

  .input-text {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 7px;
    background-color: rgb(84, 223, 75);
    position: relative;
    top: 3px;
    left: 6px;
  }
  .input-group {
    position: relative;
    width: 350px;
    margin: auto;
    line-height: 200px;
  }
  .input {
    width: 200px;
    height: 30px;
    border: 2px solid rgb(78, 227, 119);
  }
  .button {
    height: 36px;
    background-color: rgb(64, 219, 52);
    position: relative;
    left: -7px;
    top: 1.5px;
  }
}
